.banner {
    position: relative;
    width: 100vw;
    height: 90vh;
}

.swiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
}
 
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}

.slide_content {
    position: absolute;
    left: 5%;
    bottom: 35%;
    width: 40%; 
    z-index: 999;

    h1 {
        font-size: 3rem;
    }

    p {
        font-weight: lighter;
        margin-top: 10px;
    }
}

.slider_wrapper {
    position: relative;
} 