:root {
  --white: #FFF;
  
  --black: #09100f;
  --gray-50: #F7F9FA;
  --gray-100: #E6E8EB;
  --gray-200: #AFB2B1;
  --gray-500: #808080;
  --gray-800: #494D4B;
  --gray-900: #333333;

  --main-color: #D98C18; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: Roboto, sans-serif;
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.50%;
  }
}

@media(max-width: 425px) {
  html {
    font-size: 60%;
  }
}

body {
  background: var(--black);
}

body, input, textarea, button {
  font: 500 1rem;
  color: var(--white);
}

h1, h2, h3, h4, h5, h6 { 
  color: var(--white);
} 

button.primary {
  background: var(--main-color);
  border: 1px solid var(--main-color);
  color: var(--white); 
}

button.secondary {
  background: transparent;
  color: var(--white);
  border: 1px solid var(--white); 
}

button {
  border: none; 
  padding: 1rem 1.5rem;
  cursor: pointer; 
  font-weight: bold;
  font-size: 1rem;
  border-radius: 4px;
} 

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 2%;

}

.css-1kuq5xv-MuiButtonBase-root-MuiIconButton-root {
  color: var(--white);
}

.swiper-pagination-bullet-active {
  background: var(--main-color) !important;
}  