.header { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0; 

    img {
        width: 120px;
    }
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile {
    display: flex;
    align-items: center;   
}

.search {
    input {
        width: 50vw;
        padding: 0.8rem;
        font-size: 0.8rem;
        background: rgba(0,0,0, 0.5);
        border: none;
        outline: 0;
        border-radius: 4px;
    }
}